// футер

.footer {
  padding: 0;
  background: $footerBgColor;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @include desktop {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.social-wrapper{
 
    margin-left: auto;
      margin-right: auto;
      align-items: center;
      display: flex;
        flex-direction: column;
        justify-content: center;

        @include desktop {
          // align-items: baseline;
            margin-right: 60px;
          }
}

.tablet__wrapper {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
    justify-content: center;
    flex-direction: column;
  }

  @include desktop {
    display: flex;
    align-items: baseline;
    margin-right: 60px;
    margin-bottom: 0;
  }
}

.footer__contact {
  margin-top: 28px;
}

.address-wrapper {
  // padding-top: 60px;
  align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  text-align: center;

  @include desktop {
    // margin-right: 80px;
    margin-bottom: 50;
    text-align: left;
  }
}

.contact__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
}

.contact__address {
  color: $accentColor;;
  transition: color $duration $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contact__mail,
.contact__tel {
  transition: color $duration $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.cta__title {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: $mainLightColor;

  @include desktop {
    text-align: left;
  }
}

.cta-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop {
    width: 470px;
    align-items: baseline;
    flex-direction: row;
  }
}

.cta-form__input {
  max-width: 450px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 15px 16px;
  border-radius: 5px;
  background-color: inherit;
  border: 1px solid $accentColor;
  color: $accentColor;

  @include desktop {
    margin-right: 12px;
  }
}

.cta-form__button {
  // @extend %button;
  // display: flex;
  // width: 200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  // padding-left: 10px;
  // padding-right: 10px;
  fill: $accentColor;;
  transition: background-color $duration $timingFunction;

  &:hover,
  &:focus {
    background-color: $footerBgColor;
      box-shadow: $mainLightColor
  }
}

.cta-form__icon {
  margin-left: 10px;
} 

.hero__button:not(:last-child) {
  margin-bottom: 24px;

  @include tablet {
    margin-bottom: 0;
  }
}

.hero__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-right: 0;

  @include tablet {
    // flex-wrap: nowrap;
    // gap: 40px;
    // margin-left: auto;
    // justify-content: end;
    // margin-bottom: 0;
  }

    @include desktop{
      flex-wrap: wrap;
      gap: 40px;
      margin-left: auto;
      justify-content: center;
      margin-bottom: 0;
    }
}

.footer__logo,
.footer__link {
  color: $accentColor;
  transition: color $duration $timingFunction;

  &:hover,
  &:focus {
    color: $mainLightColor;
  }
}

.footer__logo {
font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  padding-top: 20px;
  
  letter-spacing: 0.3em;
  text-transform: uppercase;

}

.footer-autors {
  position: relative;
  display: flex;
  padding: 10px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $mainLightColor;
  background-color: inherit;
  justify-content: center;

  @include mobile {
    // width: 480px;
  }

  @include tablet {
    // width: 768px;
    padding: 12px;
  }

  @include desktop {
    // width: 1200px;

  }
}

.footer-autors::before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: $accentColor;

}

.autors-title {
  width: 260px;

  @include desktop {
    width: 700;
  }
}

.autors-title_text{
  text-align: center;
}