.hero {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
    url(./images/03.jpg);
    background-color: $heroBgColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;

    padding-bottom: 40px;
    height: 570px;
    @include retina {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
    url(./images/03.jpg); }
    @include tablet {
    height: 720px;
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
    url(./images/03.jpg);
    
    @include retina {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
    url(./images/03.jpg);
    }  
}
    @include desktop {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
    url(./images/03.jpg);

    @include retina {
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
        url(./images/03.jpg);
    }
    max-width: 1920px;
    }
}

.hero__subcontainer {
    position: relative;
}

.rest__address {
    position: absolute;
    top: 60px;
    left: 175px;    
    width: 210px;
    height: 47px;
    @media screen and (max-width: 413px) {
    left: 90px;
    }
    @include tablet {
    width: 285px;
    height: 56px;   
    top: 570px;
    left: 0;
    @include desktop {
    top: 553px;
    left: 0; 
    }
}
    display: flex;
    flex-wrap: nowrap;
    padding: 2px 5px 2px 5px;
    margin-left: auto;
    align-items: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    
    color: $addressColor;
    border: 1px solid $accentBorderColor;
    border-radius: 2px;
}

.icon-location {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.hero__title {
font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 31px;

    line-height: 1.07;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;

    color: $mainLightColor;
    padding-top: 100px;
    padding-bottom: 20px;
    max-width: 300;
    margin: 0 auto;
    
    @include tablet {
        padding-top: 108px;
        margin-bottom: 16px;
        max-width: 600;
        font-size: 40px;
    }
    @include desktop {
        // text-align: left;
        font-size: 45px;
        padding-top: 124px;
        margin-bottom: 32px;
        max-width: 1200;
        
           }
}

.hero__title2 {
font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 31px;

    line-height: 1.07;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;

    color: $mainLightColor;
    padding-top: 10px;
    max-width: 300;
    margin: 0 auto;

    @include tablet {
        padding-top: 18px;
        margin-bottom: 16px;
        max-width: 600;
        font-size: 40px;
    }

    @include desktop {
        // text-align: left;
        font-size: 67px;
        padding-top: 20px;
        margin-bottom: 32px;
        max-width: 1200;

    }
}

.hero__pretitle {
    // text-align: left;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0.02em;

    color: $mainLightColor;
    margin-top: 24px;
    margin-bottom: 40px;

    @include tablet {
        margin-top: 44px;
    margin-bottom: 56px;
    font-size: 26px;
    }
    @include desktop {
    margin-bottom: 56px;
    font-size: 30px;
    text-align: left;
    }
}


.hero__text {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-transform: uppercase; 
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $mainLightColor;
    margin-bottom: 113px;
    @include tablet {
        margin-bottom: 145px;
    }
}

.hero__button:not(:last-child) {
    margin-bottom: 24px;
    @include  tablet {
        margin-bottom: 0;
    }
}

.hero__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 61px;
    margin-right: 0;
    margin-top: 40px;

    // @include tablet {
    // flex-wrap: nowrap;
    // gap: 40px;
    // margin-left: auto;
    // // justify-content: end;
    // margin-bottom: 0;
    // }
}

.hero__socials {
    display: flex;
    position: absolute;
    bottom: -80px;
    left: 0;
    @media screen and (max-width: 413px) {
        bottom: -85px;
    }
    @include tablet {
        bottom: -85px;
        left: 0;
    }
    @include desktop {
        display: none;
    }
    z-index: 20;   
    
}

.hero__socials__desktop {
    display: flex;
    margin-left: 61px;
    margin-left: 61px;
    @media screen and (max-width: 1279px) {
    display: none;
    }
}

.hero__socials__link:not(:last-child) {
    margin-right: 20px;
}

.hero__soc__icon {
    fill: $accentColor;
    width: 22px;
    height: 22px;
}

.icon-location {
    fill: $accentColor;
    width: 24px;
    height: 24px;
}