.hero__restaurant {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
    url(./images/03.jpg);
    background-color: $heroBgColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;
    height: 740px;

    @include retina {
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor), 
        url(./images/03.jpg); 
    }
    @include tablet {
        height: 720px;
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
        url(./images/03.jpg);
        
        @include retina {
            background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
            url(./images/03.jpg);
        }  
    }

@include desktop {
    background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
    url(./images/03.jpg);

    @include retina { 
        background-image: linear-gradient(to bottom, $heroBgColor, $heroBgColor),
        url(./images/03.jpg);
    }
    max-width: 1920px;
    }
}
