
// карточки
.portfolio__list {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.portfolio__item {
    background-color: $heroBgColor;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    @include tablet {
        flex-basis: calc((100% - 30px) / 2);
    }

    @include desktop {
        flex-basis: calc((100% - 60px) / 4);
    }
}

.portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    transition: box-shadow $duration $accentBorderColor;

    &:hover,
    &:focus {
        box-shadow: $accentBorderColor;
    }

        @include tablet {
            margin-right: 10px;
        margin-left: 10px;
        }
    
        @include desktop {
            
        }
}

.portfolio__box {
    position: relative;
    overflow: hidden;
}

.portfolio__image {
    width: 100%;
        height: 100%;
    @include tablet {
        // width: 354px;
    }

    @include desktop {
        // width: 370px;
    }
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px 15px 0px 15px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
   
    line-height: 1.56;
    color: $mainDarkColor;
    background-color: $accentBorderColor;
    transform: translatey(101%);
    transition: transform $duration $timingFunction;

    @include tablet {
        font-size: 20px;
        padding: 43px 20px 0px 30px;
        
        }
        
        @include desktop {
        font-size: 14px;
        padding: 23px 20px 0px 30px;
        }   
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
    transform: translatey(0);
}

.portfolio__content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    padding: 20px 24px;
    // border-right: 1px solid $primaryBgColor;
    // border-bottom: 1px solid $primaryBgColor;
    // border-left: 1px solid $primaryBgColor;
}

.portfolio__name {
    // justify-content: center;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $accentColor;
}

.portfolio__text {
    font-size: 16px;
    line-height: 1.9;
}